@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Roboto Mono', monospace; */

* {
    padding: 0%;
    margin: 0%;
}
body {
    background-color: #F5F7FA;
}
.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    margin-bottom: 10px;
}
.menu {
    display: flex;
    gap: 0px 50px;
    font-family: inter;
}
.menu a {
    text-decoration: none;
    color: #18191F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.menu a:hover {
    text-decoration: underline;
}
.botao-login {
    border: none;
    background-color: transparent;
    color: #4CAF4F;
    padding: 10px 20px;
    border-radius: 15px;
}
.botao-login:hover {
    background-color: #276629;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.botao-registro {
    border: none;
    background-color: #4CAF4F;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}
.botao-registro:hover {
    background-color: #276629;
    cursor: pointer;
    transition: 0.3s;
}
section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    
}
.conteudo-escrito {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   
}
#titulo {
    font-family: 'Roboto Mono', monospace;
    color: #4D4D4D;
    font-size: 4em;
}
#titulo-2 {
    font-family: 'Roboto Mono', monospace;
    color: #4CAF4F;
    font-size: 4em;
    margin-top: -20px;
}
main > section p {
    font-family: Arial, Helvetica, sans-serif;
}
.registro-button {
    background-color: #4CAF4F;
    text-decoration: none;
    color:white;
    padding:10px 20px;
    border-radius: 15px;
    width: 50px;
    margin-top: 30px;
}
.registro-button:hover {
    background-color: #276629;
    cursor: pointer;
    transition: 0.3s;
}